@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    background-color: rgb(22, 22, 156);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}

form {
    background-color: #fff;
    font-size: 40px;
    max-width: 700px;
    padding-top: 15px;

}

input[type=number] {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    width: 20%;
    height: 40px;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    cursor: pointer;
}

input[type=submit] {
    background-color: rgb(46, 89, 190);
    font-size: 30px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.3);
    height: 40px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(0, 52, 175);
}

.result {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px;
}