@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-top: 150px;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
}

form {
    background-color: #F2F2F2;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 3px 6px 20px -2px rgba(0,0,0,0.3);
    max-width: 500px;
    padding: 30px;
    margin: auto;
}

input[type=text], input[type=password] {
    background-color: #fff;
    width: 95%;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 6px 20px -2px rgba(0,0,0,0.3);
    margin-top: 10px;
	margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
}

input[type=submit] {
    background-color: rgb(74, 231, 74);
    width: 99%;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 6px 20px -2px rgba(0,0,0,0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(0, 160, 0);
}

.result {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40vh;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #0a075c;
}
