@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    background-color: #EBEFF5;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-weight: bold;
    margin-bottom: 40px;
}

form {
    background-color: #f5f7fa;
    font-size: 26px;
    max-width: 300px;
    padding-top: 15px;
    margin: auto;
}

input[type=number] {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.3);
    width: 40%;
    height: 40px;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
}

#height {
    margin-left: 10px;
}

#lenght {
    margin-left: 10px;
}

#width {
    margin-left: 15px;
}

input[type=submit] {
    background-color: #007bff;
    font-size: 20px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.3);
    height: 40px;
    margin-left: 10px; 
    margin-bottom: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0056b3;
}

.result {
    font-size: 40px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    padding: 20px;
}
